

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>University</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="University">
    <meta name="author" content="RunWebRun">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Favicon-->
    <link rel="icon" type="image/png" href="~/assets/img/root/favicon.png"><!-- Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Style-->
    <!-- build:css -->
    <link rel="stylesheet" href="~/assets/vendors/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/vendors/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/assets/css/main.css"><!-- endbuild -->
    <!-- jQuery-->
    <script src="~/assets/vendors/js/jquery.min.js"></script>
</head>

<body class=" has-topbar">
    @await Component.InvokeAsync("Header")
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    <!-- Vendors-->
    <!-- build:js -->
    <script src="~/assets/vendors/js/bootstrap.js"></script>
    <script src="~/assets/vendors/js/imagesloaded.pkgd.js"></script>
    <script src="~/assets/vendors/js/isotope.pkgd.js"></script>
    <script src="~/assets/vendors/js/jarallax.js"></script>
    <script src="~/assets/vendors/js/jarallax-element.js"></script>
    <script src="~/assets/vendors/js/jquery.countdown.js"></script>
    <script src="~/assets/vendors/js/jquery.magnific-popup.js"></script>
    <script src="~/assets/vendors/js/ofi.js"></script>
    <script src="~/assets/vendors/js/jquery.inview.js"></script>
    <script src="~/assets/vendors/js/swiper-bundle.js"></script>
    <script src="~/assets/vendors/js/gist-embed.min.js"></script>
    <script src="~/assets/js/helpers.js"></script>
    <script src="~/assets/js/controllers/show-on-scroll.js"></script>
    <script src="~/assets/js/controllers/countdown.js"></script>
    <script src="~/assets/js/controllers/isotope.js"></script>
    <script src="~/assets/js/controllers/navbar.js"></script>
    <script src="~/assets/js/controllers/stretch-column.js"></script>
    <script src="~/assets/js/controllers/swiper.js"></script>
    <script src="~/assets/js/controllers/others.js"></script><!-- endbuild -->
</body>

</html>