@{
    ViewData["Title"] = "Index";
}

<div class="pt-120 pb-100 shape-parent overflow-hidden">
    <!-- Shape-->
    <div class="shape justify-content-end">
        <img loading="lazy" src="~/assets/img/root/home-3-shape-1-536x706.png"
             alt="" width="536" height="706">
    </div>
    <div class="container">
        @foreach (var grad in Model.Elmishuralar)
        {
            <div class="row align-items-center gy-90">
                <div class="col-lg-6">

                    <div class="pe-lg-70">
                        <h2 class="mb-45" data-show="startbox" data-show-delay="100">
                            <span class="highlight">@grad.Title</span>
                        </h2>
                        <p class="mb-50" data-show="startbox" data-show-delay="300">
                            @grad.Content
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pb-75">
                    <div class="ms-70 shape-parent">
                        <div data-img-height style="--img-height: 100%;" data-show="startbox">
                            <img class="rounded-4"
                                 loading="lazy" src="~/assets/img/@grad.Image" alt="">
                        </div>
                    </div>
                    <div class="rounded-4 overflow-hidden shape-parent text-center d-inline-flex position-absolute mt-n75">
                        <div class="background">
                            <div class="background-color" style="--background-color: #481FA0;"></div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

