@model UniversityMs.Models.Exam

@{
    ViewData["Title"] = "Create";
}

<div class="row" style="margin:80px;">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">+Add New Exam</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mark" class="control-label"></label>
                        <input asp-for="Mark" class="form-control" />
                        <span asp-validation-for="Mark" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsDaleted" /> @Html.DisplayNameFor(model => model.IsDaleted)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClassId" class="control-label"></label>
                        <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
                    </div>
                    <button type="submit" value="Create" class="btn btn-primary">+Add</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
        </div>
        </div>

